body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

hr{
    width:500px;
    height: 3px;
    background-color: black;
}
#turn{
    font-family: "Monserret","poppins";
    font-size: 18px; 
    margin-top: 2rem;   
}
#score{
    font-family: monospace;
    font-size: 14px;
}
#announce{
    text-transform: uppercase;
    font-family: "poppins","Monserret","serif";
    font-size: 14px;
    color: rgba(252, 49, 49, 0.852);
}

#game-board{
    height: 405px;
    width: 450px;
    background-color: antiquewhite;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 147px;
    height: 132px;
    font-size: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr-line-box{
    border-bottom: 3px solid black;
}


.vr-line-box{
    border-right: 3px solid black;
}

.winner{
    background-color: rgba(0, 163, 0, 0.897);
    color: white;
}

#btn-play{
    margin: 1.8rem;
    padding: 1rem;
    border-radius: 5px;
    font-size: 18px;
}

#btn-play:hover{
    background-color: bisque;
    transition: 1.4s;
    cursor: pointer;
    
}

@media(max-width: 550px){
    #game-board{
        height: 375px;
        width:405px;
    }
    .box{
        width: 132px;
        height: 122px;    
        font-size: 125px;
    }
    hr{
        width:400px;
    }
    #btn-play{
        margin: 1.7rem;
        padding: 0.8rem;
        font-size: 16px;
    }
    
}

@media(max-width: 400px){
    #game-board{
        height: 360px;
        width:375px;
    }
    .box{
        width: 122px;
        height: 117px;    
        font-size: 110px;
    }
    hr{
        width:380px;
    }

    #btn-play{
        margin: 1.6rem;
        padding: 0.7rem;
        font-size: 15px;
    }
    
}